<%= form_for @prediction do |f| %>
  <% @fixtures.each do |fixture| %>
    <h1><%= fixture.match_date %></h1>
  <!-- team a stuff -->
    <%= fixture.team_a_name %>
    <%= hidden_field_tag "predictions[][team_a_name]", fixture.team_a_name %><br/>
    <%= text_field_tag "predictions[][team_a_score]", fixture.team_a_score %><br/>
    <!-- team b stuff -->
    <%= fixture.team_b_name %>
    <%= hidden_field_tag "predictions[][team_b_name]", fixture.team_b_name %><br/>
    <%= text_field_tag "predictions[][team_b_score]", nil %><br/>

    <%= hidden_field_tag "predictions[][match_date]", fixture.match_date %><br/>
  <% end %>
  <%= f.submit %>
<% end %>